@import "tailwindcss";

@font-face {
    font-family: 'ibm-sans';
    src: url('/fonts/ibm-sans.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'ibm-mono';
    src: url('/fonts/ibm-mono-400.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'ibm-mono';
    src: url('/fonts/ibm-mono-700.ttf');
    font-weight: 700;
    font-display: swap;
}

@theme{
    --primary: #E31522;
    --secondary: #101010;
    --breakpoint-xs-375: 375px;
    --breakpoint-xl-1230: 1230px;
    --breakpoint-md-905: 905px;
    --breakpoint-xl-1230: 1230px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1536px;
    --breakpoint-4xl: 1600px;
    --breakpoint-5xl: 1900px;
    --breakpoint-xl-1920: 1920px;
    --breakpoint-6xl: 2050px;
}

:root{
    --max-w: 95%;
    --max-w-1536: 1536px;
}

*{
    font-family: 'ibm-mono';
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.overflow-x-auto::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar
{
    display: none;
}
.overflow-x-auto,
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.limited-container{
    max-width: 95%;
    margin: 0px auto;
}

button {
    cursor: pointer;
}

/* xl */
@media screen and (min-width: 1280px) {
    .limited-container{
        max-width: 95%;
    }
}
/* 2xl */
@media screen and (min-width: 1440px) {
    .limited-container{
        max-width: var(--max-w);
    }
}
/* 4xl */
@media screen and (min-width: 1600px) {
    .limited-container{
        max-width: 75%;
    }
}
/* 5xl */
@media screen and (min-width: 1900px) {
  .limited-container{
      max-width: var(--max-w-1536);
  }
}

.appear-softly{
    animation: appearSoftly .5s forwards ease-in-out;
}

@keyframes appearSoftly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: placeholderAnimation 3s infinite linear;
}

@keyframes placeholderAnimation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}

/* Glitch Effect */

.glitched-text{
  position: relative;
  display: inline-block;
  width: fit-content;
}

.glitched-text::before,
.glitched-text::after{
  color: inherit;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: #720707;
  overflow: hidden;
  top: 0;
}

.glitched-text::before{
  left: 3px;
  text-shadow: -5px blue;
  animation: glitch-1 2s infinite reverse;
}

.glitched-text::after{
  left: -10px;
  text-shadow: -5px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1{
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

/* Typing Effect */

.typing-text::after {
    content: '|'; /* ▮ | _ ▯ */
    margin-left: 4px;
    animation:
        blink 1s infinite;
}

.typing-text.completed::after{
  animation: blink 1s infinite, disapearAfterTime 0.5s forwards .7s;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

@keyframes disapearAfterTime {
  to{
    visibility: hidden;
  }
}

/* Scrambling Effect */
.scrambling-text {
  transition: opacity 0.3s ease;
}
.scrambling-text.hidden-text {
  opacity: 0;
}